@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 1024px;
    margin-top: 70px;
}

.section1{
    background-image: url(images/banner-1.png);
    background-repeat: no-repeat;
    height: 669px;
    background-size: cover;
}
.text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    text-align: center;
    background-color: rgba(14, 5, 5, 0.685);
}
.text h1{
    font-size: 35px;
    line-height: 40px;
}
.text p{
    margin: 10px 0;
    font-size: 12px;

}
.btn {
    color: white;
    font-weight: bold;
    padding: 14px;
    margin-top: 8px;
    font-size: 18px;
    border-radius: 5px;
    border: 0px;
    background-color:#FF5959;
}

.donateToday {
    text-align: center;
}

.donateToday h1 {
    font-size: 30px;
}

.donateToday p {
    font-size: 14px;
    margin: 10px 0;
}

.amountBox {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.amount {
    font-weight: 500;
    color: #707070;
    padding: 25px;
    margin: 10px;
}

.amountActive {
    border-radius: 5px;
    border: 2px solid #FF5959;
    background-color: #ff59593a;
    color: #FF5959;
}

.inputAmount input {
    text-align: center;
    border: none;
}

.inputAmount .btn {
    margin-top: 25px;
}

